article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, caption, hr {
    margin: 0;
    padding: 0
}

img {
    border: 0;
    width: 100%;
    display: block;
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

.hidden {
    display: none;
}

.uppercase {text-transform:uppercase;}
.lowercase {text-transform:lowercase;}
.capitalize {text-transform:capitalize;}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

.clear { clear: both; }

.clear:after {
    content: "";
    display: table;
    clear: both;
}


body {
    font-family: 'helvetica', sans-serif;
    overflow: auto;
}


.row {
    position: relative;
    width: 90%;
    margin: auto;
}


* {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ==========================================================================
   Header styles
   ========================================================================== */


header {
    width: 100%;
    height: 52px;
    background: #343131;
}

.header-logo {
    float: left;
    padding-left: 30px;
    font-family: 'Lobster', cursive;
    color: #ffffff;
    line-height: 52px;
    font-size: 30px;
}


#nav {
    display: block;
    float: right;
    padding-right: 30px;
}



#nav li {
    display: inline-block;
    line-height: 50px;
    margin-left: 30px;
}

#nav a {
    color: #fff;
    text-shadow: 0px -1px 0px #000;
    display: inline;
}

#nav .dropdown-panel,
#nav .username {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 16px;
}

.username-dropdown {
    position: absolute;
    z-index: 1039;
    margin-top: 8px;
    right: 10px;

    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.2s,opacity 0.2s linear;
}

.username-dropdown.show {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}

.username-dropdown .dropdown-panel {
    min-width: 80px;
    max-width: 360px;
    list-style: none;
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    text-align: center;
    overflow: visible;
    padding: 10px;
    margin: 0;
}

.dropdown-panel {
    background-color: #343131 !important;
}

.username-dropdown.dropdown-tip:before {
    position: absolute;
    top: -8px;
    right: 15px;
    content: '';
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #343131;
    display: inline-block;
}



/* ==========================================================================
   Login styles
   ========================================================================== */


.login-form__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 440px;
    background-color: #f6f6f6;
}


.login-form h1 {
    font-size:25px;
    font-family: 'helvetica', sans-serif;
    font-weight:400;
    padding: 20px;
    text-align: center;
}


.login-form form {
    width: 80%;
    margin: 0 auto;
    padding: 6% 0 9% 0;
}
.login-form p {
    text-align: center;
}
.login-form form p a {
    color: #888;
}
form p a:hover {
    color:#21A957;
}
input[type="text"], input[type="password"]{
    text-align:left;
    position: relative;
    width:92%;
    padding:3%;
    background:#D3D3D3;
    margin-bottom: 6%;
    color: #676767;
    font-weight:600;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    border:1px solid #DED6D6;
    -webkit-appearance:none;
}
input[type="text"]:hover, input[type="password"]:hover{
    border:1px solid #949494;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:	0.5s;

}
input[type="submit"]{
    width: 99%;
    padding: 3%;
    margin-bottom: 8%;
    background: #4d4d4d;
    font-family: 'Open Sans', sans-serif;
    color: #ECECEC;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight:500;
    border-radius: 5px;
    transition: 0.5s;
    -webkit-appearance:none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}
input[type="submit"]:hover{
    background: #1b1b1b;
    color:#fff;
}




/* ==========================================================================
   Main grid
   ========================================================================== */

.grid__wrap {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 60px;
    /*background: #ffffff;*/
}

.grid {
    padding: 30px 30px 10px;
}


.list__item
{
    opacity: 0;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

.countdown {
    position: relative;
    float: left;
    margin-left: 2%;
    margin-bottom: 20px;
    width: 32%;
    max-width: 440px;
    background-color: #f6f6f6;

    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
}

.countdown:nth-of-type(1) {
    margin-left: 0;
}

.countdown:nth-of-type(3n+1) {
    margin-left: 0;
    clear: both;
}

.countdown__image {
    width: 100%;
}

.countdown__content {
    padding: 30px;
    text-align: right;
    color: #2a2a2a;
}

.countdown__menu {
    position: absolute;
    top: 0;
    right: 0;
}

.countdown__menu.show {
    width: 100%;
    height: 100%;
}

.countdown__menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    background: url(../img/iconCountdownMenu.png) no-repeat;
    background-size: 100%;
    background-position: 0 0;
    cursor: pointer;
}

.countdown__menu-icon:hover {
    background: url(../img/iconCountdownMenu.png) no-repeat;
    background-size: 100%;
    background-position: 0 -45px;
}

.countdown__menu-dropdown {
    display: none;
}

.countdown__menu.show .countdown__menu-dropdown {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(60,60,60,0.6);
    text-align: center;
}


.countdown__menu-dropdown .edit-button {
    margin: 60px auto 10px;
}


.countdown__title {
    font-size: 24px;
}


.countdown__desc {
    font-size: 12px;
}

.countdown__time {
    font-size: 18px;
}

.countdown__time .days,
.countdown__time .hours,
.countdown__time .minutes,
.countdown__time .seconds,
.countdown__complete
{
    font-size: 30px;
}



.countdown__empty {
    background-color: #f6f6f6;
    text-align: center;
    height: 481px;
    min-height: 380px;
}

.countdown .add-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 150px;
}


/* ==========================================================================
   Button styles
   ========================================================================== */



.button {
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    display:inline-block;
    width: 125px;
    text-align: center;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    margin-bottom: 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}

.blue-button {
    -moz-box-shadow: 0px 6px 14px -7px #276873;
    -webkit-box-shadow: 0px 6px 14px -7px #276873;
    box-shadow: 0px 6px 14px -7px #276873;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0);
    background-color: #599bb3;
}

.blue-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #276873), color-stop(1, #276873));
    background:-moz-linear-gradient(top, #276873 5%, #276873 100%);
    background:-webkit-linear-gradient(top, #276873 5%, #276873 100%);
    background:-o-linear-gradient(top, #276873 5%, #276873 100%);
    background:-ms-linear-gradient(top, #276873 5%, #599bb3 100%);
    background:linear-gradient(to bottom, #276873 5%, #276873 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#276873', endColorstr='#276873',GradientType=0);
    background-color:#408c99;
}


.red-button {
    -moz-box-shadow: 0px 6px 14px -7px #732727;
    -webkit-box-shadow: 0px 6px 14px -7px #732727;
    box-shadow: 0px 6px 14px -7px #732727;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b35959), color-stop(1, #994040));
    background:-moz-linear-gradient(top, #b35959 5%, #994040 100%);
    background:-webkit-linear-gradient(top, #b35959 5%, #994040 100%);
    background:-o-linear-gradient(top, #b35959 5%, #994040 100%);
    background:-ms-linear-gradient(top, #b35959 5%, #994040 100%);
    background:linear-gradient(to bottom, #b35959 5%, #994040 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b35959', endColorstr='#994040',GradientType=0);
    background-color:#b35959;
}
.red-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #732727), color-stop(1, #732727));
    background:-moz-linear-gradient(top, #732727 5%, #732727 100%);
    background:-webkit-linear-gradient(top, #732727 5%, #732727 100%);
    background:-o-linear-gradient(top, #732727 5%, #732727 100%);
    background:-ms-linear-gradient(top, #732727 5%, #732727 100%);
    background:linear-gradient(to bottom, #732727 5%, #732727 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#732727', endColorstr='#732727',GradientType=0);
    background-color:#732727;
}
.button:active {
    position:relative;
    top:1px;
}



/* ==========================================================================
   new Countdown form
   ========================================================================== */



.modal__bg-wrapper.show {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}


.modal__bg-wrapper {
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.2s,opacity 0.2s linear;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*background: #ffffff;*/
}

/*.modal__bg {*/
/*position: fixed;*/
/*top:0;*/
/*left: 0;*/
/*width: 100%;*/
/*height: 100vh;*/

/*background: url(../img/bg.jpg) no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover;*/
/*opacity: 0.7;*/
/*}*/

.new-countdown-form__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    max-width: 540px;
    background-color: rgba(231, 231, 231, 0.6);
    -webkit-box-shadow: 0px 0px 50px 1px rgba(84,84,84,0.3);
    -moz-box-shadow: 0px 0px 50px 1px rgba(84,84,84,0.3);
    box-shadow: 0px 0px 50px 1px rgba(84,84,84,0.3);
}

.new-countdown-form__padding {
    padding: 20px;
}

.new-countdown-form__wrap h1 {
    font-size:34px;
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(171, 171, 171, 1);
}

/*#new-countdown-form*/
#new-countdown-form table {
    width: 100%;
    text-align: left;

    font-size:22px;
    font-family: 'Roboto', sans-serif;
    font-weight:200;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(171, 171, 171, 1);
}

#new-countdown-form th {
    display: block;
    font-weight:200;
}

#new-countdown-form td {
    display: block;
}


#new-countdown-form input[type="file"] {
    padding: 2px 0 24px;
    color: #333333;
}

#new-countdown-form input[type="text"], input[type="password"]{
    text-align:left;
    position: relative;
    width:92%;
    padding:3%;
    background:#ffffff;
    margin-bottom: 6%;
    color: #676767;
    font-weight:400;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 0;
    border:none;
    -webkit-appearance:none;
}

#new-countdown-form input[type="text"]:hover, input[type="password"]:hover{
    border:none;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:	0.5s;

}

footer {
    position: relative;
    margin: 20px;
}