<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <meta name="og:title" content="">
    <meta name="og:site_name" content="">
    <meta name="og:description" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">


    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "countdown/css/style.css" %}">
    <link rel="stylesheet" href="{% static "countdown/css/pickmeup.min.css" %}">
    <!--<link rel="stylesheet" href="{% static "countdown/css/picedit.min.css" %}">-->
    <!--<link rel="shortcut icon" content="favicon.ico">-->

    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster|Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--//webfonts-->

</head>
<body class="home clear">
<!--[if lte IE 8]>
<div id="outdated-browser">
    <div class="outdated-browser__mid">
        <div class="outdated-browser__mid__inner inner-width">
            <span>Looks like you’re on an old browser. Please update to the latest version of your preferred browser.</span>
        </div>
    </div>
</div>
<![endif]-->



<header id="header" class="clear">
    <div class="row">
        <div class="header-logo">
            <p>Countdown</p>
        </div>
        <nav id="nav">
            <ul>
                <li>
                    <div class="account-dropdown">
                        <a href="#"><span class="username">{{ username }}</span></a>

                        <div class="dropdown-tip username-dropdown">
                            <div class="dropdown-panel">
                                <div><a href="#">Profile</a></div>
                                <div><a href="#">Settings</a></div>
                                <div><a href="/logout">Logout</a></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>



<div class="content clear">
    <div class="row">
        <div class="grid__wrap clear">
            <div id="countdown_grid" class="grid clear">


                {% for countdown in countdowns %}
                    <div class="countdown" data-id="{{ countdown.id_string }}">
                        <div class="countdown__menu">
                            <div class="countdown__menu-icon"></div>
                            <div class="countdown__menu-dropdown">
                                <a href="#" class="edit-button blue-button button" data-idstring="{{ countdown.id_string }}">edit</a>
                                <a href="#" class="delete-button red-button button" data-idstring="{{ countdown.id_string }}">delete</a>
                            </div>
                        </div>
                        <!--<img class="countdown__image" src="{% static "countdown/img/image-1.png" %}" alt="image">-->
                        <img class="countdown__image" src="{% if countdown.image %} {{ countdown.image.url }} {% else %} {% static "countdown/img/image-1.png" %}{% endif %}" alt="image">
                        <div class="countdown__content">
                            {% if countdown.complete %}
                                <p class="coundown__complete">COMPLETE</p>
                            {% else %}
                                <p class="countdown__time">
                                    {% if countdown.days > 0 %}
                                    <span class="days">{{ countdown.days }}</span> day{% if countdown.days > 1 %}s{% endif %}
                                    {% endif %}

                                    {% if countdown.hours > 0 %}
                                    <span class="hours">{{ countdown.hours }}</span> hour{% if countdown.hours > 1 %}s{% endif %}
                                    {% endif %}

                                    {% if countdown.minutes > 0 %}
                                    <span class="minutes">{{ countdown.minutes }}</span> minute{% if countdown.minutes > 1 %}s{% endif %}
                                    {% endif %}

                                    {% if countdown.days < 1 and countdown.seconds > 0 %}
                                    <span class="seconds">{{ countdown.seconds }}</span> second{% if countdown.seconds > 1 %}s{% endif %}
                                    {% endif %}
                                </p>
                            {% endif %}

                            <p class="countdown__title capitalize">{{ countdown.title }}</p>
                            <p class="countdown__desc">{{ countdown.brief_description }}</p>
                        </div>
                    </div>
                {% endfor %}


                <div class="countdown">
                    <div class="countdown__menu">
                        <div class="countdown__menu-icon"></div>
                        <div class="countdown__menu-dropdown">
                            <a href="#" class="edit-button blue-button button">edit</a>
                            <a href="#" class="delete-button red-button button">delete</a>
                        </div>
                    </div>
                    <img class="countdown__image" src="{% static "countdown/img/image-1.png" %}" alt="image">
                    <div class="countdown__content">

                        <p class="countdown__time"><span class="days">2</span> days <span class="hours">13</span> hours <span class="minutes">45</span> minutes</p>
                        <p class="countdown__title capitalize">TRAVEL TO SPAIN</p>
                        <p class="countdown__desc">Dipiscing lorem fells a ante. Proin consequat a justo sed ornare Vestibulum quis magna vel nunc vehicula mattis ld eget lorem</p>
                    </div>
                </div>

                <div class="countdown">
                    <div class="countdown__menu">
                        <div class="countdown__menu-icon"></div>
                        <div class="countdown__menu-dropdown">
                            <a href="#" class="edit-button blue-button button">edit</a>
                            <a href="#" class="delete-button red-button button">delete</a>
                        </div>
                    </div>
                    <img class="countdown__image" src="{% static "countdown/img/image-1.png" %}" alt="image">
                    <div class="countdown__content">

                        <p class="countdown__time"><span class="days">2</span> days <span class="hours">13</span> hours <span class="minutes">45</span> minutes</p>
                        <p class="countdown__title capitalize">TRAVEL TO SPAIN</p>
                        <p class="countdown__desc">Dipiscing lorem fells a ante. Proin consequat a justo sed ornare Vestibulum quis magna vel nunc vehicula mattis ld eget lorem</p>
                    </div>
                </div>


                <div class="countdown countdown__empty">
                    <img class="add-icon" src="{% static "countdown/img/iconAdd.png" %}" alt="image">
                </div>

            </div>
        </div>
    </div>


</div> <!--END content-wrap -->


<div class="modal__bg-wrapper">
    <div class="modal__bg"></div>
    <div class="new-countdown-form__wrap">
        <div class="new-countdown-form__padding">
            <h1>Create Countdown</h1>
            <form id="new-countdown-form" method="post" action="/api/countdowns/create" enctype="multipart/form-data"> {% csrf_token %}
                <table>
                    {{ new_countdown_form }}
                </table>
                <div class="submit">
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>
    </div>
</div>

<!--<div class="modal__new-countdown">-->
    <!--<div class="new-countdown-form__wrap">-->
        <!--<div class="new-countdown-form__padding">-->
            <!--<h1>Create Countdown</h1>-->
            <!--<form class="new-countdown-form" action="#" method="post" enctype="multipart/form-data"> {% csrf_token %}-->
                <!--<input type="text" class="text" name="countdown_name" placeholder="Countdown name">-->
                <!--<input type="text" class="text new-countdown-date" name="countdown_date" placeholder="Date">-->

                <!--<input type="text" class="text new-countdown-time-hours" name="countdown_time_hours" placeholder="HH">-->
                <!--<input type="text" class="text new-countdown-time-mins" name="countdown_time_mins" placeholder="MM">-->
                <!--<input type="text" class="text new-countdown-time-seconds" name="countdown_time_seconds" placeholder="SS">-->

                <!--<input type="file" class="text new-countdown-image" name="countdown_image">-->
                <!--<br>-->
                <!--<br>-->

                <!--<div class="submit">-->
                    <!--<input type="submit" value="submit">-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<footer id="footer">

    <div class="copyright">
        © Copyright 2015 Countdown
    </div>
</footer>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/external/jquery-1.10.2.min.js"><\/script>')</script>

<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="{% static "countdown/js/jquery.pickmeup.min.js" %}"></script>
<script src="{% static "countdown/js/jquery.maskedinput.min.js" %}"></script>
<script src="{% static "countdown/js/jquery.foggy.min.js" %}"></script>

<!--<script src="{% static "countdown/js/picedit.min.js" %}"></script>-->
<script src="{% static "countdown/js/main.js" %}"></script>


</body>
</html>
