<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <meta name="og:title" content="">
    <meta name="og:site_name" content="">
    <meta name="og:description" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">


    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "countdown/css/style.css" %}">
    <!--<link rel="stylesheet" href="css/style.css">-->
    <!--<link rel="shortcut icon" content="favicon.ico">-->

    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <!--//webfonts-->

</head>
<body class="home">
<!--[if lte IE 8]>
<div id="outdated-browser">
    <div class="outdated-browser__mid">
        <div class="outdated-browser__mid__inner inner-width">
            <span>Looks like you’re on an old browser. Please update to the latest version of your preferred browser.</span>
        </div>
    </div>
</div>
<![endif]-->


<div class="content-wrap">

<div class="login-form__wrap">
    <div class="login-form">
        <h1>Member Login</h1>
        <form action="login" method="POST"> {% csrf_token %}
            <input type="text" class="text" name="username" placeholder="Username" tabindex="1">
            <input type="password" name="password" placeholder="Password" tabindex="2">
            <div class="submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

<div class="test-div">
</div>

</div> <!--END content-wrap -->


<footer id="footer">

    <div class="copyright">
        © Copyright 2015 Countdown
    </div>
</footer>



<script src="js/external/modernizr-latest.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/external/jquery-1.10.2.min.js"><\/script>')</script>

<script src="{% static "django_project/js/main.js" %}"></script>
<!--<script src="js/main.js"></script>-->

</body>
</html>
